.nav {
  background-color: #42404d;
  height: 9vh;
  opacity: 9;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 20px;
}

.logo {
  color: #ffbe38;
  font-weight: 700;
  font-size: 18px;
}

.logout-button {
  color: #ffbe38;
  background-color: transparent;
  border: 1px solid #ffbe38;
  border-radius: 8px;

  height: 100%;
  padding: 4px 20px;
  font-size: 13px;
}

.title-div {
  display: flex;
  align-items: center;
  color: white;
  gap: 20px;
}
